/* desktop view 1000px */
.parent {
  display: flex;
  flex-wrap: wrap;
}
.child {
  width: 25%;
  border: 1px solid black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.c-1 {
  background-color: red;
}
.c-2 {
  background-color: green;
}
.c-3 {
  background-color: brown;
}
.c-4 {
  background-color: black;
}

/* width:800px  => fix => exact 800px */
/* min-width:800px => minimum 800px and max can any value */
/* max-width:800px => maximum 800px and min  can any value*/

/* 100 marks => passing are 35 */
/* laptop view  max-width:800px */
@media screen and (max-width: 900px) {
  .child {
    width: 50%;
  }
}
/* tablet view max-width:750px */

@media screen and (max-width: 750px) {
  .c-3,
  .c-4 {
    width: 100%;
  }
}
/* mobile view max-width:6000px*/

@media screen and (max-width: 600px) {
  .child {
    width: 100%;
  }
  .c-3 {
    display: none;
  }
}
